<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="DatabaseContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;initial catalog=IMS9;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="DatabaseContext" connectionString="metadata=res://*/Context.DatabaseContext.csdl|res://*/Context.DatabaseContext.ssdl|res://*/Context.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WHITE\SQLEXPRESS;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseContextBackup" connectionString="data source=WHITE\SQLEXPRESS;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />
    <!--Ramu-->
    <!--<add name="DatabaseContext" connectionString="data source=DESKTOP-0825JDK;initial catalog=IMS_PROD_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--Ramu Client-->
    <!--<add name="DatabaseContext" connectionString="data source=UNIQUECOMPUTERH\SQLEXPRESS;initial catalog=IMS_PROD_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--Bibek-->
    <!--<add name="DatabaseContext" connectionString="metadata=res://*/Context.DatabaseContext.csdl|res://*/Context.DatabaseContext.ssdl|res://*/Context.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANJAN\SQLEXPRESS;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseContextBackup" connectionString="data source=ANJAN\SQLEXPRESS;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />-->
    <!--Bibek Client Pulami-->
    <!--<add name="DatabaseContext" connectionString="metadata=res://*/Context.DatabaseContext.csdl|res://*/Context.DatabaseContext.ssdl|res://*/Context.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-P1GTTH8;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseContextBackup" connectionString="data source=DESKTOP-P1GTTH8;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />-->
    <!--Bibek Actual Client 1 Old Agro (both vegetable and Agro Medicine) -->
    <!--<add name="DatabaseContext" connectionString="metadata=res://*/Context.DatabaseContext.csdl|res://*/Context.DatabaseContext.ssdl|res://*/Context.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-F9PCU0C;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseContextBackup" connectionString="data source=DESKTOP-F9PCU0C;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />-->
    <!--Bibek Actual Client 2 NEW Agro Medicine Only Shop -->
    <!--<add name="DatabaseContext" connectionString="metadata=res://*/Context.DatabaseContext.csdl|res://*/Context.DatabaseContext.ssdl|res://*/Context.DatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-K8JNDR1\SQLEXPRESS;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DatabaseContextBackup" connectionString="data source=DESKTOP-K8JNDR1\SQLEXPRESS;initial catalog=IMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />-->
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>

<!--
    Earlier Connection Strings
    Bibek
    <add name="DatabaseContext" connectionString="data source=ANJAN\SQLEXPRESS;initial catalog=IMS_PROD_4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    Pulami
    <add name="DatabaseContext" connectionString="data source=DESKTOP-P1GTTH8;initial catalog=IMS_PROD_4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    Client
    <add name="DatabaseContext" connectionString="data source=DESKTOP-F9PCU0C;initial catalog=IMS_PROD_4;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    -->